[client]
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
[mysql]
prompt = "\U \R:\m:\s [\d]> "
no_auto_rehash
[mysqld]
open_files_limit = 1024000
back_log = 1024
server_id=1
user            = mysql
pid_file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
#bind_address	= 127.0.0.1
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir=/tmp
skip_external_locking=1
skip_name_resolve=1
local_infile=0
lower_case_table_names=1
character_set_server=utf8mb4
collation_server=utf8mb4_unicode_ci
log_timestamps=SYSTEM
large_pages=1
#percona settings
thread_handling=pool-of-threads
expand_fast_index_creation=1
#启用admin_port，连接数爆满等紧急情况下给管理员留个后门
admin_address = '127.0.0.1'
admin_port = 33062

max_allowed_packet=128M
max_connections=1024
max_connect_errors=204800
table_open_cache=10240
explicit_defaults_for_timestamp=1
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
#for performance_schema
#disable performace_schema for small instance
#https://dev.mysql.com/doc/refman/5.7/en/performance-schema-startup-configuration.html
#https://dev.mysql.com/doc/refman/5.7/en/performance-schema-startup-configuration.html
performance_schema_max_file_instances=100
#performance_schema_instrument = '%memory%=on'
performance_schema_instrument = '%lock%=on'

#log settings
log_error = /var/log/mysql/error.log
log_output=TABLE
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.5
lock_wait_timeout=30
log_queries_not_using_indexes = 1
log_throttle_queries_not_using_indexes = 60
min_examined_row_limit = 100 
log_slow_admin_statements = 1
log_slow_replica_statements = 1

#replication settings
event_scheduler=1
binlog_format = 'ROW'
gtid_mode=on
max_binlog_cache_size=4M
max_binlog_size=1G
binlog_expire_logs_seconds=604800
#'expire-logs-days' is deprecated and will be removed in a future release. Please use binlog_expire_logs_seconds instead. since mysql 8.0.11
sync_binlog=1
log_bin=log-bin
log_bin_trust_function_creators=1
binlog_rows_query_log_events=1
binlog_gtid_simple_recovery=1
enforce_gtid_consistency=1
binlog_checksum=CRC32
source_verify_checksum=1
show_replica_auth-info=1

##for replicas only
sync_source_info=1
log_replica_updates=1
replica_preserve_commit_order=1
replica_parallel_type=LOGICAL_CLOCK
replica_parallel_workers=8
replica_sql_verify_checksum=1
relay_log=relay-log
sync_relay_log=1
relay_log_recovery=1
sync_relay_log_info=0
replica_skip_errors=ddl_exist_errors

#global settings
key_buffer_size=1M
read_buffer_size=8M
read_rnd_buffer_size=16M
sort_buffer_size=64M
join_buffer_size=64M
tmp_table_size=512M
max_heap_table_size=1G
#transaction_isolation=

#innodb settings
#innodb_page_size=16k #only can be change before initialization
innodb_buffer_pool_size=128m
innodb_change_buffer_max_size=20
innodb_file_per_table=1
innodb_stats_on_metadata=0
innodb_autoinc_lock_mode = 2
innodb_data_home_dir=/var/lib/mysql/
innodb_data_file_path=ibdata1:500M:autoextend
#safe crash for source server
#innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=1
innodb_log_buffer_size=16M
innodb_log_file_size=512M
innodb_log_files_in_group = 3
innodb_max_undo_log_size = 128M
#enable innodb_flush_neighbors when you use sata disk
innodb_flush_neighbors=0
innodb_fast_shutdown=1
#please increase the following two option when you use ssd,# 根据您的服务器IOPS能力适当调整
# 一般配普通SSD盘的话，可以调整到 10000 - 20000
# 配置高端PCIe SSD卡的话，则可以调整的更高，比如 50000 - 80000
innodb_io_capacity=1000
innodb_io_capacity_max=2000
innodb_lock_wait_timeout=3
innodb_rollback_on_timeout = 1
innodb_print_all_deadlocks=1
innodb_print_ddl_logs = 1
#https://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_thread_concurrency
innodb_thread_concurrency=64
innodb_sort_buffer_size=8M
innodb_undo_log_truncate=1

# change log for mysql8 https://dev.mysql.com/doc/refman/8.0/en/added-deprecated-removed.html
