[mysql]
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
[mysqld]
open_files_limit = 1024000
server-id=1
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
#bind-address	= 127.0.0.1
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir=/tmp
skip-external-locking
skip-name-resolve
skip-federated
skip-blackhole
skip-archive
lower_case_table_names=1
character_set_server=utf8
character_set_connection=utf8
large_pages
thread_handling=pool-of-threads

max_allowed_packet=64M
max_connections=65535
explicit_defaults_for_timestamp=1

#for replication
event_scheduler=1
binlog_format = 'ROW'
gtid-mode=on
max_binlog_size=64M
max_binlog_cache_size=512M
expire_logs_days = 7
sync-binlog=1
log_bin=log-bin
log-slave-updates=1
log_bin_trust_function_creators=1
enforce-gtid-consistency=1
binlog-checksum=CRC32
master-verify-checksum=1
binlog-rows-query-log_events=1
show-slave-auth-info=1

##for slave only
##sync-master-info
#master-info-repository=TABLE
#relay-log-info-repository=TABLE
#relay-log-recovery
#relay-log=relay-log
#slave_parallel_workers=4
#slave-sql-verify-checksum=1
#slave-rows-search-algorithms = 'INDEX_SCAN,HASH_SCAN'
##sync_relay_log
#sync_relay_log_info

log_error = /var/log/mysql/error.log
slow-query-log=1
slow-query-log-file=/var/log/mysql/slow.log
long_query_time=0.5
lock_wait_timeout=30
max-slowlog-files=7
max-slowlog-size=7M

#global settings
key_buffer_size=1M
join_buffer_size=2M
#query_cache_limit=64K
query_cache_size=0
query_cache_type=0
sort_buffer_size=16M
tmp_table_size=32M
max_heap_table_size=16M
#transaction-isolation=


#innodb settings
innodb_buffer_pool_size=128m
innodb_change_buffer_max_size=20
innodb_file_per_table=1
innodb_stats_on_metadata=0
#the following two option deprecated in MySQL 5.7.7 and may be removed in a future release
#http://dev.mysql.com/doc/refman/5.7/en/innodb-file-format.html
#innodb_file_format=Barracuda
#innodb_large_prefix
innodb_stats_persistent_sample_pages = 64
innodb_autoinc_lock_mode = 2
loose_innodb_numa_interleave=1

innodb_data_home_dir=/var/lib/mysql
innodb_data_file_path=ibdata1:500M;ibdata2:100M:autoextend
#safe crash for master
innodb_flush_log_at_trx_commit=1
innodb_flush_method=O_DIRECT_NO_FSYNC
innodb_flush_neighbors=1
innodb_fast_shutdown=1
innodb_io_capacity=300
innodb_lock_wait_timeout=3
innodb_log_buffer_size=256K
innodb_log_file_size=512M
#innodb_page_size=16k
innodb_sort_buffer_size=8M
